{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="bs-docs-header" style="background: #4C4C4C; padding-right: 100px; padding-left: 140px;">
		<div class="container" style="background: #4C4C4C" >
			<h1 style="font-size: 64px;">SmartCart</h1>
			<p style= "color: white;">Helping people get healthier and wealthier, one cart at a time</p>
			<!-- <h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp; (Insert picture of sign in screen?)</h1><h1>&nbsp;</h1> -->
			<h1>&nbsp;</h1>
			<p style= "color: white;">A CS 69/169 Project...</p>
			<p>&nbsp;</p>
		</div>
	</div>
	
	<div class="container-fluid" style="background: #6699FF; padding-right: 100px; padding-left: 140px;" >
		<div class="row">
			<div class="col-md-10">
				<h1 class="page-header"> <a name="Overview" class="no-style-link" style="color:white; font-size: 48px;">Overview</a> </h1>
				<p style="font-size: 24px; color: white;">SmartCart is a project for Mobile Health (CS 69/169) at Dartmouth College. </p>
				<!-- <p>&nbsp; Maybe insert random food/grocery pictures here</p> -->
				<p style="font-size: 24px; color: white;">The goal of the app is to help raise awareness for healthy eating and to make it accessible to more people. A lot of the time, people are unsure what combination of nutrients they need to look for, and do not know what to buy when they enter the supermarket.</p>
				<p style="font-size: 24px; color: white;">So its no longer expensive to eat healthy!</p>
				<!-- <p>&nbsp; and here...</p> -->
				<p>&nbsp;</p1>
				<!-- <p style="font-size: 24px; color: white;"> This is our solution.</p> -->
				<p>&nbsp;</p><p>&nbsp;</p>
			</div>
		</div>
	</div>
	<div class="container-fluid" style="background: #FF9933; padding-right: 100px; padding-left: 140px;" >	
		<div class="row">
			<div class="col-md-10">
				<h1 class="page-header"><a class="no-style-link" name="Features" style="color:white; font-size: 48px;">Features Targeted for Version 0.1</a></h1><a class="no-style-link" name="Features">
				<!-- <p>Lorem ipsum dolor sit amet, usu te harum soleat inimicus. Ad periculis reformidans cum, no adhuc libris eloquentiam qui. No vel idque malorum omittantur. Habeo ludus mediocrem mei no. Ut est debet graeco audiam.</p> -->
				<ul class="list-group">
				  <li class="list-group-item active" style="font-size:24px">Set up wireframes</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Begin mockups to get a better idea for visuals</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start porting some screens into Android</li>
				 </ul>
				 <p>&nbsp;</p>
				 <ul class="list-group">
				  <li class="list-group-item active" style="font-size:24px">Start working on databases</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start building backend data structure</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Design front end database structure</li>
				 </ul>
				 <p>&nbsp;</p>
				 <ul class="list-group">
				  <li class="list-group-item active" style="font-size:24px">Narrow the scope of the project</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Use preliminary work to scope project down</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Incorporate Dartmouth aspect into project goals</li>
				 </ul>
				 <p>&nbsp;</p>
				 <ul class="list-group">
				  <li class="list-group-item active" style="font-size:24px">Get website up and running</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Build preliminary skeleton for website</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add team background and basic project information</li>
				 </ul>
				  <!-- <li class="list-group-item">Porta ac consectetur ac</li> -->
				  <!-- <li class="list-group-item">Vestibulum at eros</li> -->
				</ul>
				<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
			</a></div><a class="no-style-link" name="Features">
		</a></div><a class="no-style-link" name="Features">
		</a>
	</div>
	<div class="container-fluid" style="background: #991F5C; padding-right: 100px; padding-left: 140px;" >	
		<div class="row">
			<div class="col-md-10">
				<h1 class="page-header"><a class="no-style-link" name="Features" style="color:white; font-size: 48px;">Features Targeted for Future Versions</a></h1><a class="no-style-link" name="Features">
				<!-- <p>Lorem ipsum dolor sit amet, usu te harum soleat inimicus. Ad periculis reformidans cum, no adhuc libris eloquentiam qui. No vel idque malorum omittantur. Habeo ludus mediocrem mei no. Ut est debet graeco audiam.</p> -->
				<ul class="list-group">
				  <li class="list-group-item active" style="font-size:24px">v0.2</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finish Mockups</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Complete initial database</li>
				 </ul>
				 <p>&nbsp;</p>
				 <ul class="list-group">
				  <li class="list-group-item active" style="font-size:24px">v0.3</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Build initial cart function and discount page</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Functional interaction between backend and front end databases</li>
				 </ul>
				 <p>&nbsp;</p>
				 <ul class="list-group">
				  <li class="list-group-item active" style="font-size:24px">v0.4</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Complete all core functions of application</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Look into personalization and historic data incorporation</li>
				 </ul>
				 <p>&nbsp;</p>
				 <ul class="list-group">
				  <li class="list-group-item active" style="font-size:24px">v0.9 (Dartmouth Beta)</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Complete compatability with Hanover Co-op</li>
				  <li class="list-group-item" style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Potential limited release for use on campus</li>
				 </ul>
				  <!-- <li class="list-group-item">Porta ac consectetur ac</li> -->
				  <!-- <li class="list-group-item">Vestibulum at eros</li> -->
				</ul>
				<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
			</a></div><a class="no-style-link" name="Features">
		</a></div><a class="no-style-link" name="Features">
		</a>
	</div>
	<div class="container-fluid" style="background: #5CE6B8; padding-right: 100px; padding-left: 140px;" >
		<div class="row">
			<div class="col-md-10">
				<h1 class="page-header" style="color:black; font-size: 48px;">Team (Please forgive lack of real pictures)</h1>
				<div class="row team-row">
					<div class="col-lg-4">
						<img class="img-circle" src="http://icongal.com/gallery/image/436997/s_iron_man_hero_avatar_man_superhero_iron_avengers.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
						<h2 style="color:black; font-size: 36px;">John Ling</h2>
						<p style="text-align: justify; font-size: 17px;" >John has no particular specialty in coding or mobile health. That said, John will do his best to improve UI/UX for the app. He is currently a '17 at Dartmouth College and is hopeful about majoring in computer science. In his spare time, John likes to drink coffee and eat. He can almost always be found toiling away on FFB.</p>
						<!-- <p><a class="btn btn-default" href="#" role="button">View details »</a></p> -->
					</div>
					<div class="col-lg-4">
						<img class="img-circle" src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-Thor-icon.png" style="width: 140px; height: 140px;">
						<h2 style="color:black; font-size: 36px;">D'Manshu Kamra</h2>
						<p style="text-align: justify; font-size: 17px;">Manshu is a monster when it comes to the backend. Hailing from Delhi University in India, he is currently pursuing a Master's of Computer Science at Dartmouth College. In addition to his role as the founder of Grappus Technologies, Manshu loves to travel and attend various concerts.</p>
						<!-- <p><a class="btn btn-default" href="#" role="button">View details »</a></p> -->
					</div>
					<div class="col-lg-4">
						<img class="img-circle" src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-Black-Widow-icon.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
						<h2 style="color:black; font-size: 36px;">Zhen Ma</h2>
						<p style="text-align: justify; font-size: 17px;">Zhen is undoubtedly the friendliest graduate student from Xi'an Jiaotong University that Dartmouth has ever seen. She is the in-house android programming expert, and is looking forward to the challenges that this project will provide. Her favorite movie of all time is, without a doubt, Gone with the Wind</p>
						<!-- <p><a class="btn btn-default" href="#" role="button">View details »</a></p> -->
					</div>
				</div>
				<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
			</div>
		</div>
	</div>
	<div class="container-fluid" style="background: #6699FF; padding-right: 100px; padding-left: 140px;" >
		<div class="row">
			<div class="col-md-10">
				<h1 class="page-header"> <a name="Overview" class="no-style-link" style="color:white; font-size: 48px;">Current Progress</a> </h1>
				<!-- <p style="font-size:30px"><a href="/admin">Admin panel</a>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p> -->
				<p style="font-size: 24px; color: white;">A few photos of what we've been working on</p>
				<!-- <p>&nbsp;</p>Set up website and prelimnary mock ups.<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p> -->
				<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p><img src="{% static 'images/Mock.png' %}"></p>
				<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p><img src="{% static 'images/Mock2.png' %}"></p>
				<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p><img src="{% static 'images/BrainStorm.JPG' %}"></p>
				<p><a href="/admin">Admin panel</a>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
				<p>&nbsp;</p><p>&nbsp;</p>
			</div>
		</div>
	</div>
		<div class="container-fluid" style="height: 600px; background: #333333; padding-right: 100px; padding-left: 140px;" >
		<br>
		<div class="row">
			<footer>Built on Bootstrap and Django.</footer> 
		</div>
		
	</a></div><a class="no-style-link" name="Features">
	
{% endblock%}